body {
    background-color: #1d2534;
    height: 100vh;
    color: #FFF;
    font-family: 'Quicksand',sans-serif;
}

h1 {
    font-size: 52px;
    font-weight: 700;
    background: linear-gradient(45deg, rgb(206, 81, 255) 21%,rgb(71, 240, 255) 83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    font-style: italic;
    font-size: 18px;
    color: rgba(255,255,255,0.6);
}

.backgrounds {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.layer1 {
    position: absolute;
    top: 100px;
    left: 0px;
    display: inline-block;
    height: 200px;
    width: 200px;
    background-color: rgb(255, 0, 234);
    filter: blur(150px);
    animation: layerMoving 5s infinite both linear  alternate;
}

.layer2 {
    position: absolute;
    top: 300px;
    right: 0px;
    display: inline-block;
    height: 200px;
    width: 200px;
    background-color: rgb(0, 255, 255);
    filter: blur(150px);
    animation: layerMoving 8s infinite forwards linear  alternate;
}

@keyframes layerMoving {
    0% {
        transform: translateY(-120px);
    }

    100% {
        transform: translateY(120px);
    }
}


.steps .step-border {
    position: relative;    
    overflow: hidden;
    border-radius: 20px;
    padding: 1px;
}

.steps .step-border::after {
    content: '';
    position: absolute;
    
    width: 100%;
    height: 600%;
    z-index: 0;
    border-radius: 20px;
    background: linear-gradient(0deg, rgb(189, 48, 245) 25%, rgba(29,196,211,1) 50% ,  rgb(211, 29, 120) 75%, rgb(230, 226, 17) 100%);
    animation: stepBorder 3s infinite linear;
    top: -14rem; right: -10rem; bottom: -14rem; left: 0;
}

@keyframes stepBorder {
    from {
        transform: rotate(0deg) scale(1.1);
    }
    to {
        transform: rotate(360deg) scale(1.1);
    }
}


.steps .step{
    position: relative;
    overflow: hidden;
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: start;
    padding: 20px 10px;
    height: 80px;
    border-radius: 20px;
    font-size: 24px;
    background-color: #1d2534;
    transition: 0.5s;
    font-weight: 500;
    z-index: 1;
}

.steps .step-border:hover .step {
    cursor: pointer;
    background-color: transparent;
}

.steps .step::before {
    content: '';
    position: absolute;
    left: 25px;
    top: 50%;
    height: 10px;
    width: 10px;
    background-color: #FFF;
    transform: translateY(-50%);
    transition: 0.5s;
    border-radius: 50%;
}

.steps .step-border:hover .step::before {
    position: absolute;
    width: 600px;
    height: 600px;
    left: -100px;
}
.steps .step-border:hover .step span:first-child {
    color: #FFF;
    background-color: rgb(98, 0, 255);
}

.steps .step-border:hover .step span:last-child {
    color: rgb(98, 0, 255);
}

.steps .step span:first-child{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 60px;
    width: 60px;
    min-width: 60px;
    background-color: #FFF;
    border-radius: 18px;
    color: rgb(98, 0, 255);

    transition: 0.5s;
}

.steps .step span:last-child{
    position: relative;
    text-align: center;
    display: inline-block;
    width: calc(100% - 120px);
    text-transform: uppercase;
    transition: 0.5s;
}

.download a{
    display: inline-flex;
    gap: 15px;
    font-size: 30px;
    text-decoration: none;
    align-items: center;

    color: #FFF;
    background: linear-gradient(90deg,  rgb(164, 43, 235) 0%,rgb(101, 46, 204) 100%);
    background-size: 100% 100%;
    padding: 15px 40px;
    margin-top: 35px;
    border-radius: 20px;
    transition: 0.3s;
    box-shadow: 0 25px 30px -20px rgba(164, 43, 235,0.5);
    animation: download 1s infinite linear;
}

@keyframes download {
    0% {
        box-shadow: 0 25px 30px -20px rgba(164, 43, 235,0.5);
        transform: translateY(0px);
    }

    50% {
        box-shadow: 0 35px 70px -40px rgba(196, 93, 255, 0.8); 
        transform: translateY(-3px);       
    }

    100%{
        box-shadow: 0 25px 30px -20px rgba(164, 43, 235,0.5);
        transform: translateY(0px);
    }
}


.download a:hover {
    background-size: 250% 100%;
    box-shadow: 0 25px 30px -10px rgba(164, 43, 235,0.5);
}

.download a div span:first-child{
    text-transform: uppercase;
    font-weight: 600;
}
.download a div span:last-child{
    font-size: 14px;
    font-style: italic;
}
.emoji-1 {
    position: fixed;
    font-size: 120px;
    left: -30px;
    bottom: -50px;
    z-index: 99;
    transform: rotate(20deg);
    animation: emoji-anim 6s infinite linear forwards;
    
}


@keyframes emoji-anim {
    0% {
        left: -30px;
        bottom: -50px;
    }

    80% {
        left: -30px;
        bottom: -50px;
    }

    85% {
        left: -40px;
        bottom: -60px;
    }

    90% {
        left: -30px;
        bottom: -50px;
    }

    95%{
        left: -40px;
        bottom: -60px;
    }
    100% {
        left: -30px;
        bottom: -50px;
    }

}


.copyright {
    font-family: 'Satisfy',sans-serif;
    font-size: 18px;
}

.latest-class {
    font-family: 'Satisfy',sans-serif;
    font-size: 18px;
}

.badge-link {
    text-decoration: none;
    color: #FFF;
    background-color: rgb(0, 0, 0);
    padding: 12px 100px;
    position: fixed;
    left: -80px;
    top: 20px;
    transform: rotate(-30deg);
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.badge-link img {
    filter: invert(1);
    height: 30px;

}

.copyright a {
    text-decoration: none;
    color: #fdcb5c;
}